{% extends "base.html" %}
{% load thumbnail django_static i18n %}

{% block meta-description %}{% endblock %}
{% block title %}{% trans 'Latest News' %}{% endblock %}


{% block extrajs %}

{% endblock %}

{% block extracss %}
<style type="text/css">

#content #news {
  margin: 0;
  padding: 0;
  list-style-type: none; 
}

#news li {
  border-bottom: 1px solid #e1e1e1; 
  padding: 20px 0 20px 0;
  position: relative;  
}

#news li h4 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;   
}

#news li:hover h4 {
  text-decoration: underline;
  color: #ad2020;   
}

#news li p {
  margin: 0;
  color: #555;   
}

#news li:hover p {
  color: #000;   
}

.pagination {
  width: 100%;
  float: left;
  margin: 20px 0 0 0;   
}

</style>
{% endblock %}

{% block content %}

<div id="content">
  <div class="super">
  		<h1>{% trans 'Latest News!' %}</h1>
  		
  		<div class="right">

  		</div>
  		
  		<div class="left">
  		    
  		    {{ page.content|safe }}
  		    
            <ul id="news">
            {% for n in news.object_list %}
                <li>
                    <a href="{% url news_item n.slug %}"><span class="link"></span></a>
                    <h4>{{ n.title }}</h4>
                    <p>[{{ n.date_posted|date:"d M Y" }}] {{ n.summary }}</p>
                </li>
            {% endfor %}
            </ul>
            
        <div class="pagination">
            <span class="step-links">
                {% if news.has_previous %}
                    <a href="?page={{ news.previous_page_number }}">{% trans 'Previous' %}</a>
                {% endif %}
        
                <span class="current">
                    {% trans 'Page' %} {{ news.number }} {% trans 'of' %} {{ news.paginator.num_pages }}.
                </span>
        
                {% if news.has_next %}
                    <a href="?page={{ news.next_page_number }}">{% trans 'Next' %}</a>
                {% endif %}
            </span>
        </div>
            
		</div>
  </div>
</div>

{% endblock %}