a.button, a.button:link, a.button:visited, .button {
    color: #FFFFFF;
}

#banner .box {
  width: 280px;   
}

#bios {
  width: auto;   
}

.left form input[type="text"] {
  height: 30px;
  padding: 10px;   
}