a.button, a.button:link, a.button:visited, .button {
  color: #FFFFFF;
}

a.button:hover, a.button:active {
 color: #EFC507;
}

#banner .box {
  width: 280px;   
}

#bios {
  width: auto;   
}

input {
  height: 30px;
  padding: 10px;   
}

input.button {
  height: 60px;   
}

input.button:hover {
  cursor: pointer;   
}

#navigation {
  z-index: 20;   
}

#navigation ul {
  height: 43px;
}

#navigation ul ul {
  top: 38px;
}

#navigation ul ul li:hover {
  border-right: none;   
}

#feature {
  position: relative;
  z-index: 1;   
}

#feature img {
  position: relative;
  z-index: 1;   
}