html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	border:0 none;
	font-size:100%;
	margin:0;
	outline:0 none;
	padding:0
}

body {
	border:medium none;
	margin:0;
	padding:0;
	font-family: Georgia, "STKaiti",华文楷体, serif ;
	width: 100%;
	background: #EDF2F7;
}

.super {
  width: 960px;
  position: relative;
  margin-left: -480px;
  left: 50%;	
  float: left;
}

p {
  line-height:2em;
  margin: 0 0 30px 0;
}

ol, ul {
	line-height:2em;
}

a:link, a:visited {
  text-decoration: none;	
  color: #154178;
}

a:hover, a:active {
  text-decoration: underline;
  color: #ad2020;	
}

a.button, .button {
  background: rgb(24,96,160); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(24,96,160,1) 0%, rgba(24,101,160,1) 51%, rgba(23,88,158,1) 53%, rgba(21,65,120,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(24,96,160,1)), color-stop(51%,rgba(24,101,160,1)), color-stop(53%,rgba(23,88,158,1)), color-stop(100%,rgba(21,65,120,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(24,96,160,1) 0%,rgba(24,101,160,1) 51%,rgba(23,88,158,1) 53%,rgba(21,65,120,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(24,96,160,1) 0%,rgba(24,101,160,1) 51%,rgba(23,88,158,1) 53%,rgba(21,65,120,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(24,96,160,1) 0%,rgba(24,101,160,1) 51%,rgba(23,88,158,1) 53%,rgba(21,65,120,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(24,96,160,1) 0%,rgba(24,101,160,1) 51%,rgba(23,88,158,1) 53%,rgba(21,65,120,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1860a0', endColorstr='#154178',GradientType=0 ); /* IE6-9 */

  padding: 10px 20px;
  border-radius: 5px;  
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  float: left; 
  box-shadow: 0px 1px 1px #666;
  border: 1px solid #fff;
  border-color: #CFE7F9 #CFE7F9 #BFE1FC #BFE1FC;
  text-shadow: 0 1px 0 #000;
  margin: 10px 0 0 0;
}

a.button:hover, .button:hover {
  
  color: #EFC507;
  box-shadow: 0 1px 6px #666;
  text-decoration: none;   
  cursor: pointer;
}

span.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;   
}

h1 {
    color: #154178;	
	font-size:40px;
	font-weight: normal;
	letter-spacing: -1px;
	margin: 0 0 15px 0;
}

h2 {
    color: #154178;
    font-size: 50px;
    font-weight: normal;
    letter-spacing: -2px;
    margin: 10px 0 30px;
    padding-top: 10px;
}

h3 {
    color: #154178;
    font-size: 26px;
    font-weight: normal;
    letter-spacing: -1px;
    margin: 10px 0;
    padding-top: 10px;
}

h4 {
	color:black;
	font-size:1.1em;
	font-weight:bold;letter-spacing:-1px;margin:30px 0 10px;
}


/* header styles */

#header {
	float: left;
	padding: 15px 0 0px 0;
	width: 100%;
	margin: 0 0 35px 0;
	background: #fff;
}

#logo {
  height:80px;
  float: left;
  margin: 0 40px 0px 0;  
}

span.tagline {
    color: #777777;
    display: block;
    float: left;
    font-size: 30px;
    font-style: italic;
    height: auto;
    position: relative;
    top: 41px;
    width: auto;
}

#lang {
  float: right;
  width: auto; 
  position: relative;
  z-index: 10;
  top: 60px;
  background: #cedbe9;
  padding: 10px 10px 5px;
  border-radius: 5px 5px 0 0;
}

#lang a {
  opacity: 0.6;  
}

#lang a.selected {
  opacity: 1;   
}

#lang a:hover {
  opacity: 0.4;   
}



#navigation {
  float: right;
  width: 100%;
  margin: 20px 0 0;
  background: #154178;
}

#navigation ul {
  list-style-type: none;
  width: auto;
  border-left: 1px solid #103768;
  border-right: 1px solid #2f5c95;
  float: left;
  height: 44px;	
}

#navigation ul li {
  float: left;	
}

#navigation ul li a {
    font-size: 16px;
    font-family: Helvetica, arial, sans-serif;
    font-weight: bold;
    margin: 0 0px 0 0;
    color: #fff;
    padding: 6px 15px;
    float: left;
    border-left: 1px solid #2f5c95;
    border-right: 1px solid #103768;
    text-shadow: 0px 0px 2px #000;
    position: relative;
    z-index: 21;
}

#navigation ul li:last-child a {
  margin: 0;   
}

#navigation ul li a:hover {
  background: #2F5C95;
  text-decoration: none; 
  border-right: 1px solid transparent;  
}

#navigation ul li:hover a {
  background: #2F5C95; 
  border-right: 1px solid transparent;  
}

#navigation ul li a.selected {
  background: #2F5C95; 
  border-right: 1px solid transparent; 
} 

#navigation ul li a.selected:before {
    border-color: #2F5C95 transparent -moz-use-text-color;
    border-style: solid solid none;
    border-width: 15px 15px 0;
    bottom: -15px;
    content: " ";
    display: block;
    height: 0;
    left: 30%;
    position: absolute;
    width: 0;
    z-index: 2;
}

#navigation ul.subnav {
    background: none repeat scroll 0 0 #2F5C95;
    border: medium none;
    box-shadow: 0 2px 3px #000000;
    display: none;
    float: left;
    height: auto;
    padding: 5px 0 5px;
    position: absolute;
    top: 44px;
    width: auto;
    z-index: 20;
}

#navigation li:hover ul.subnav {
  display: block;   
}

#navigation ul.subnav li {
  float: none;   
}

#navigation ul.subnav a {
  color: #fff;
  text-shadow: none;
  border: none;
  margin: 0 0 0px 0;
  padding: 0 30px 0 15px;
  float: none;
  font-size: 13px;
}

#navigation ul.subnav a:hover {
  background: none;
  text-decoration: underline; 
}


/* END HEADER STYLES */

#content {
  float: left;
  width: 100%;
  padding: 30px 0 40px 0;
}

#content ul, #content ol {
  line-height: 1.8em;
  margin: 20px 60px;	
}

#content .right {
  float: right;
  width: 220px;
  padding: 0px;
}

.right .box {
  float: left;
  margin: 0 0 20px 0;
  padding: 10px;
  background: #fff;
  position: relative;   
}

.right .box.link:hover {
    opacity: 0.9;
}

.right .box.link:hover h4 {
  text-decoration: underline;
  color: #ad2020;   
}

.box img {
  float: left;
  margin: 0 0 10px;   
}

.box h4 {
  margin: 0px 0 0px 0;
  letter-spacing: -0.5px;
  font-family: Arial, Helvetica, sans-serif;	
}

#content .box p {
  font-size: 14px;
  line-height: 	1.4em;
  margin: 0;
}

#content .left {
  float: left;
  width: 700px;
  margin: 0 30px 0 0;	
}


/* FOOTER STYLES */
#footer {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin-top: 80px;
    padding: 40px 0 80px;
    border-top: 10px solid #DBE0E8;
    width: 100%;
}

#footer p.explain {
    color: #999999;
    float: left;
    font-size: 22px;
    margin-right: 30px;
    text-align: right;
    width: 300px;
}

#footer #testimonials {
  float: left;
  width: 600px;   
}

#footer #testimonials a {
  border: 1px solid #d1d1d1;
  padding: 3px;
  float: left;   
}

#footer #testimonials a:hover img {
  opacity: 0.8;   
}

/* END FOOTER */
